<style scoped>
  .msg_cotainer {
    margin-top: auto;
		margin-bottom: auto;
		margin-left: 10px;
		border-radius: 25px;
		background-color: #F8F6FF;
		padding: 10px;
		position: relative;
		display: inline-block;
		text-align: left;
		align: left;
	}
  .cardSize {
  	overflow-y:scroll;
  	padding-bottom: 2000px; /*your height*/
	}
</style>

<template>
  <div class="cardSize">
    <h1>This is FeedBackCard Component</h1>
    <br/>
    <!-- USER PROFILE -->
    <reviewer-profile :uidIn="userIdTester" v-if="userId" />
    <br/>
    <!-- FEEDBACK HISTORY -->
    <!-- อันนี้แค่ทดลองแสดงผลเฉยๆ ไม่ได้ใช้จริง ถ้าทำอันใช้จริงได้แล้วก็เอามาใส่แทนที่ได้เลย -->
    <b-list-group>
      <b-list-group-item v-for="feedback in feedbacks" :key="feedback.id" class="msg_cotainer">
       &nbsp; {{ feedback.message }}&nbsp;
       <br/>
      </b-list-group-item>
    </b-list-group>

    <!-- COMMENT INPUT -->
    <div>
      <b-form-textarea
        id="feedback-input"
        v-model="feedbackInput"
        :state="feedbackInputState"
        placeholder="Enter comment..."
        rows="3"
        max-rows="6"
      ></b-form-textarea>
    </div>

    <!-- COMMENT BUTTON -->
    <div>
      <b-button @click="addFeedback()" class="btn btn-success btn-sm float-left" >Comment</b-button>
    </div>

    <h2>{{ feedbackInput }}</h2>
  </div>
</template>

<script>
import reviewerProfile from '../../reviewer/reviewerlist'
import * as feedbackStore from '../../../stores/feedback'

export default {
  name: 'FeedBackCard',

  props: {
    reviewTaskId: {
      type: String,
      default: 'reviewTaskId_tester'
    }
  },

  components: {
    reviewerProfile
  },

  globalStores: {
    feedbackStore
  },

  async created () {
    this.getFeedback();
  },

  watch: {
    userId: {
      immediate: true,
      handler (value) {
        if (value) {
          this.getFeedback();
          this.checkPass();
        }
      }
    }
  },

  computed: {
    feedbackGlobalStore () {
      return this.$globalStore.get(feedbackStore.types.NAMESPACE)
    },
    userId () {
      return this.$globalAuth ? this.$globalAuth.uid : null
    }
  },

  data () {
    return {
      feedbackInput: "",
      feedbacks: null,
      feedbackInputState: null,
      userIdTester: "mxUmZ61dEVUVOF2pCLzM8ukzWZD2",
      pass: null
    }
  },

  methods: {
    /**
     * Fetch existing feedback in this mc_task
     */
    async getFeedback () {
      if (this.feedbackGlobalStore && this.userId !== null) {
        let filter = {
          userId: this.userId,
          group: "review_" + this.reviewTaskId
        }
        console.log('FeedBackCard -> userId : ', this.userId)
        console.log('FeedBackCard -> feedbackGlobalStore : ', this.feedbackGlobalStore)
        await this.feedbackGlobalStore.dispatch('get', { filter })
        this.feedbacks = await this.feedbackGlobalStore.getters('all')
        console.log('FeedBackCard -> feedbacks : ', this.feedbacks)
      }
    },

    /**
     * Add feedback to database from reviewer input
     */
    addFeedback () {
      if (this.feedbackInput !== "") {
        let data = {
          group: "review_" + this.reviewTaskId,
          user_id: this.userId,
          message: this.feedbackInput,
          is_deleted: false
        }
        this.feedbackGlobalStore.dispatch('store', data)
        this.clear()
      } else {
        this.feedbackInputState = false
      }
    },

    /**
     * Checking this evidence task is pass or not
     */
    async checkPass () {
      if (this.feedbackGlobalStore && this.userId !== null) {
        let filter = {
          id: this.reviewTaskId
        }
        await this.feedbackGlobalStore.dispatch('check-pass', { filter })
        this.pass = await this.feedbackGlobalStore.getters('pass')
        console.log('FeedBackCard -> pass : ', this.pass)
      }
    },

    /**
     * Clear input box ,all alert like at starting point
     */
    clear () {
      this.feedbackInputState = null
      this.feedbackInput = ""
    }
  }
}
</script>

<style>
</style>
